div#back-top.hide
  a(href='#top')
    i.fa.fa-chevron-up

div(style='background: #ececec; padding: 13px; color: #222; font-weight: 300;')
  .container
    .row
      .col-md-12.text-center
        p Copyright (C) 2015 IoT School Taiwan. All rights reserved.
